@tailwind base;
@tailwind components;
@tailwind utilities;

.trix-button-group--file-tools {
    display: none !important;
}

[x-cloak] { display: none !important; }

trix-editor {
    min-height: 22em !important;
}
